/* html, body {
    height: 100%;
} */

body {
    background: url(../images/sky_bg_1.jpg) no-repeat;
    background-size: cover;
    font-family: 'Space Mono', monospace;
    overflow: none;
    color: white;
    /* width: 100%; */
    /* height: 100%; */
    /* display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 80%; */
}

.item-rmv {
    text-decoration: none;
}
/* #addtodo {
    grid-column: 1;
    grid-row: 1;
}

#todolist {
    grid-column: 1;
    grid-row: 2;
}

button {
    font-family: 'Space Mono';
}
.done {
    text-decoration: line-through; */
/* } */